@using MVC_Dating_Project.Models
@model ProfileIndexViewModel

@Styles.Render("~/Content/ProfileLook.css")

@{
    ViewBag.Title = "MatchMaker";
}

<h2>Here are people that you match with</h2>

<div id="list">

    @foreach (var profil in Model.Profiles)
    {
        <div id="object">

            <div class="object-item">
                <img src="@Url.Content(profil.ImagePath)" width="80" />
            </div>

            <div class="object-item">
                <h4>@Html.ActionLink(profil.FirstName + " " + profil.LastName, "Index", "VisitPage", new { profileId = profil.ProfileId }, null)</h4>
                <p>@profil.Gender and @profil.Sexuality</p>
            </div>

        </div>
    }
</div>

